<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salvicode.rubixcube">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
            <activity android:name="com.salvicode.rubixcube.MultyCubeGLActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.NoTitleBar">
            </activity>
            <activity android:name="MainMenuActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.NoTitleBar">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        </application>
</manifest>